@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);

*, *:before, *:after {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}



body
{
  background: rgb(0, 0, 0);
}

/*loader*/
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: black;
  
}
.eye{
  width: 20px; height: 8px;
  background-color: rgba(240,220,220,1);
  border-radius:0px 0px 20px 20px;
  position: relative;
  left: 10px; top: 40px;
  box-shadow:  40px 0px 0px 0px rgba(240,220,220,1);              
}

.head{
  -webkit-backface-visibility: hidden;
  position: relative;
  margin: -250px auto;
  width: 80px; height: 80px;
  background-color: #111;
  border-radius:50px;
  box-shadow: inset -4px 2px 0px 0px rgba(240,220,220,1);
  -webkit-animation:headAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;
}

.body{ 
  position: relative;
  margin: 90px auto;
  width: 140px; height: 120px;
  background-color: #111;
  border-radius: 50px/25px ;
  box-shadow: inset -5px 2px 0px 0px rgba(240,220,220,1);
  -webkit-animation:bodyAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;  
}

  @-webkit-keyframes headAnim{
         0%{ top:0px; }
         50%{ top:10px; }
         100% { top:0px;} 
  }

  @-webkit-keyframes bodyAnim{
         0%{ top:-5px; }
         50%{ top:10px; }
         100% { top:-5px;} 
  }

.circ{
  -webkit-backface-visibility: hidden;
  margin: 60px auto;
  width: 180px; height: 180px;
  background-color: #111;
  border-radius: 0px 0px 50px 50px;
  position: relative;
  z-index: -1;  
  left: 0%; top: 20%;
  overflow: hidden;
}

.hands{
  -webkit-backface-visibility: hidden;
  margin-top: 140px;
  width: 120px;height: 120px;
  position: absolute;
  background-color: #111;
  border-radius:20px;
  box-shadow:-1px -4px 0px 0px rgba(240,220,220,1);
  -webkit-transform:rotate(45deg);
  top:75%;left: 16%;
  z-index: 1;
  -webkit-animation:bodyAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;
}

.load{  
  position: absolute;
  width: 7ch; height: 32px;
  text-align: left;
  line-height: 32px;
  margin: -10px auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Julius Sans One', sans-serif;
  font-size:28px;
  font-weight:400;
  color:rgba(240,220,220,1);
  left: 2%; top: 5%;
  -webkit-animation:fontAnim 3.75s infinite;
  -webkit-animation-timing-function:ease-out;
  word-wrap: break-word;
  display:block;
  overflow: hidden;
}

  @-webkit-keyframes fontAnim{
        0%{ width:7ch; }
       16%{ width:8ch; }
       32%{ width:9ch; }
       48%{ width:10ch; }
       64%{ width:11ch; }
       80%{ width:12ch; }
     100% { width:13ch;} 
  }






/*fin estilos cuerpo pagina*/


/*inicio menu*/
.menu {
  list-style: none;
  line-height: 46px;
  /*outline: 1px solid red;*/
  padding-left: 0;
  margin: 2em auto;
  width: 15em;
  
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
  background: url(http://www.migueldeharo.com/repositorio/men_v/sp-menu-responsive.png) no-repeat top left;
  padding-left: 3em;
  }

.menu a:hover {
  margin-left: 1em;
  --webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu li {
  /*outline:  1px solid green;*/
  box-shadow: 3px 0  rgb(17, 128, 233) inset;
  padding-left: .8em;
  margin-bottom: 3px;
  --webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu li:hover {
  box-shadow: 15em 0 rgb(0, 162, 255) inset;

}

.menu li a:hover {
  color: white;

}

.menu li:nth-child(2) a {
  background-position: 0 -46px;
}

.menu li:nth-child(3) a {
  background-position: 0 -92px;
}

.menu li:nth-child(4) a {
  background-position: 0 -138px;
}

.menu li:nth-child(5) a {
  background-position: 0 -184px;
}

.menu li:last-child a {
  background-position: 0 -230px;
}
/*fin menu*/


/*posicion responsive menu*/

nav {
  background: rgb(255, 255, 255);
  position:fixed;
  opacity: 0.9;
  top: 10;
  left: -18em;
  z-index: 20;
  height: 100%;
 
  transition: all 0.5s;
  }

nav.mostrar {
  left: 0;

  position: fixed;
  background-attachment: scroll;
}

#mostrar-nav {
position : absolute;
  top: 2em;
  left: 2em;
  z-index: 30;
  width: 20px;
  height: 20px;
  background: url(http://www.procserve.com/wp-content/themes/procserve/images/mobile-menu-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#mostrar-nav ul {

  margin: 0;
  
  padding:0;
  
  list-style-type: none;
  
  background:#ededed;
  
  border: 1px solid #ccc;
  
  }
  
  #mostrar-nav li {
  
  display:inline-block;
  
  padding:0.1em;
  
  width:100px;
  
  border-right: 1px solid #ccc;
  
  text-align:center;
  
  }

  

.typewriter h1 {

  text-align: right;

  color: rgb(255, 255, 255);
  text-shadow: -5px -5px 3px #000;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(12, 198, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  
}


.type img {

  
    margin: -42px;
    margin-top: 0%;
    padding: -100px;
    margin-left: 5%;
  width: 50%;
  height: 70%;



  
}




/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
  
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 140, 255) }
  
}

header {
  border-radius: 2em;
  
  background: transparent url("https://c.wallhere.com/photos/a0/44/processor_cpu_upgrade_installation_chip_robot-783986.jpg!d") no-repeat fixed center center / cover;
}







output q:last-child {
  border-right-width: 1ch;
}
*/
/*typing effect*/


.slogan {
  width: 0;
  top:50%;
  left: 50%;
  white-space: nowrap;
  margin: 0 auto;
  padding: 2px 0 0;
  letter-spacing: 2px;
  text-align: center;
  font: bold 300% Consolas, Monaco, monospace;
  color: #ffffff;
  border: #ffffff;
  font-size: 32px;
  font-weight: 300;
  border-right: 6px solid #0b5acf;
  overflow: hidden;
  position: relative;
  display: block;
  -webkit-animation-name: blink-start, typing, blink-end;
  -moz-animation-name: blink-start, typing, blink-end;
  animation-name: blink-start, typing, blink-end;
  -webkit-animation-duration: 1s, 1s, 1s;
  -moz-animation-duration: 1s, 1s, 1s;
  animation-duration: 1s, 1s, 1s;
  -webkit-animation-timing-function: linear, steps(13, end), linear;
  -moz-animation-timing-function: linear, steps(13, end), linear;
  animation-timing-function: linear, steps(13, end), linear;
  -webkit-animation-iteration-count: 1, 1, infinite;
  -moz-animation-iteration-count: 1, 1, infinite;
  animation-iteration-count: 1, 1, infinite;
  -webkit-animation-delay: 0s, 1s, 2s;
  -moz-animation-delay: 0s, 1s, 2s;
  animation-delay: 0s, 1s, 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slogan span {
  display: block;
  width: 20%;
  
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@-moz-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 45%px;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 72%;
  }
}
@-webkit-keyframes blink-start {
  from, to {
    border-color: #27ae60;
  }
  50% {
    border-color: transparent;
  }
}
@-moz-keyframes blink-start {
  from, to {
    border-color: #27ae60;
  }
  50% {
    border-color: transparent;
  }
}
@keyframes blink-start {
  from, to {
    border-color: #27ae60;
  }
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink-end {
  from, to {
    border-color: #27ae60;
  }
  50% {
    border-color: transparent;
  }
}
@-moz-keyframes blink-end {
  from, to {
    border-color: #27ae60;
  }
  50% {
    border-color: transparent;
  }
}
@keyframes blink-end {
  from, to {
    border-color: #27ae60;
  }
  50% {
    border-color: transparent;
  }
}



/* bodyyy */


